<% @title = 'Account Info' %>

        <h1><%= @title %></h1>
         <div class="table-color">
         <%= link_to 'Edit Account Info', :edit_staff_account %>  |  
         <%= link_to 'Edit Password', :edit_staff_password %>  |
        </div>

 <div class="table-responsive">
  <table class="table-bordered table-color">
     <tr>
        <th class="col-md-4">NAME</th>
        <td class="col-md-8">
          <%= @staff_member.family_name %>
          <%= @staff_member.given_name %>
        </td>
     </tr>
     <tr>
       <th class="col-md-4">NAME (ENGLISH)</th>
       <td class="col-md-8">
         <%= @staff_member.family_name_eng %>
         <%= @staff_member.family_name_eng %>
       </td>
     </tr>
     <tr>
       <th class="col-md-4">NICK NAME</th>
       <td class="col-md-8">
         <%= @staff_member.staff_user_name %>
       </td>
     </tr>
     <tr>
       <th class="col-md-4">E-MAIL</th>
       <td class="col-md-8">
         <%= @staff_member.email %>
       </td>
     </tr>
     <tr>
       <th class="col-md-4">Password</th>
       <td class="col-md-8">**************</td>
     </tr>
     <tr>
       <th class="col-md-4">START DAY</th>
       <td class="col-md-8">
           <%= @staff_member.start_date.strftime('%Y/%m/%d') %>
       </td>
     </tr>
  </table>
 </div>
